/* 제목 */
.my-mandalart-container h2 {
  font-size: 26px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 25px;
  color: #2e2e2e;
}
.highlight-name {
  color: #4a6cf7;   /* 원하는 색상으로 변경 */
  font-weight: 800; /* 더 두껍게 하고 싶으면 */
}


/* 비어 있을 때 */
.empty-area {
  text-align: center;
  margin-top: 80px;
}
.empty-area p {
  color: #555;
  margin-bottom: 14px;
}
.empty-area button {
  background: #4a6cf7;
  color: #fff;
  border: none;
  padding: 12px 18px;
  border-radius: 6px;
  cursor: pointer;
}
.title-area {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  margin-left: 210px;
  margin-bottom: 0;
}


/* 테이블 전체 박스 */
.table-wrapper {
  background: #fff;
  border-radius: 14px;
  padding: 20px;
  display: block;
  flex-direction: column;
  justify-content: center;
  width: 80%; 
  margin: 0 auto;
  max-height: 750px; 
  overflow-y: auto;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

/* 표 */
.mandalart-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: 14px;
  border: 1px solid #dcdcdc; 
}

/* 헤더 */
.mandalart-table thead th {
  padding: 14px 10px;
  font-weight: 600;
  background: #f1f3f7;
  border-bottom: 2px solid #e6e8ec;
  color: #333;
}

/* 내용 */
.mandalart-table tbody td {
  padding: 14px 10px;
  border-bottom: 1px solid #eaecef;
  color: #444;
}

/* hover */
.mandalart-table tbody tr:hover {
  background: #f8faff;
  transition: 0.2s;
}

/* 열기 버튼 */
.view-btn {
  background: #6c87ff;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
}
.view-btn:hover {
  background: #4f6bff;
}
